
<!DOCTYPE html>
<html>

<head>
  <title>Demo</title>
  <link rel="stylesheet" href="../../lib/style.css">
  <link rel="stylesheet" href="../../lib/codestyle.css">
  
</head>

<body data-demoid="ngif">
  <div class="wrapper">
    <div>
      <a href="../../index.html">&larr; back to demo index</a>
      <div><p>Showing off the <code>ng-if</code> directive.</p></div>
      <app><div ng-app="ngifDemo" ng-cloak>
  <div ng-controller="ngifController">
    <label>
      <input type="checkbox" ng-model="showSpoiler">
      Show spoiler
    </label>
    <p ng-if="showSpoiler">
      The lord commander will return.
    </p>
  </div>
</div></app>
    </div>
    <div class="sources">
      <div class="sourcenav"><div data-file='index_html'>index.html</div><div data-file='main_ts'>main.ts</div></div>
      <div class="sourcefiles"><pre id='index_html-source'><code><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">ng-app</span>=<span class="hljs-string">"ngifDemo"</span> <span class="hljs-attr">ng-cloak</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">ng-controller</span>=<span class="hljs-string">"ngifController"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">ng-model</span>=<span class="hljs-string">"showSpoiler"</span>&gt;</span>
      Show spoiler
    <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">ng-if</span>=<span class="hljs-string">"showSpoiler"</span>&gt;</span>
      The lord commander will return.
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><pre id='main_ts-source'><code><span class="hljs-keyword">import</span> * <span class="hljs-keyword">as</span> angular <span class="hljs-keyword">from</span> <span class="hljs-string">'angular'</span>;

<span class="hljs-keyword">let</span> app = angular.module(<span class="hljs-string">'ngifDemo'</span>, []);

app.controller(<span class="hljs-string">'ngifController'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">$scope</span>)</span>{
  $scope.showSpoiler = <span class="hljs-literal">false</span>; <span class="hljs-comment">// initial value, not really needed</span>
});
</code></pre></div>
    </div>
  </div>
  <script>

function select(id){
  let button = document.querySelector(`[data-file=${id}]`);
  if (button){
    document.querySelectorAll('.sources .active').forEach(function(elem){
      elem.classList.remove('active')
    });
    button.classList.add('active');
    document.getElementById(id + '-source').classList.add('active');
  } else {
    console.log("Warning, couldn't find source file", id);
  }
}

document.querySelectorAll('.sourcenav > *').forEach(
  elem => elem.addEventListener('click', function(e){
    location.hash = '#' + this.getAttribute("data-file");
    e.preventDefault();
  })
);

window.addEventListener("hashchange", function(){
  select(location.hash.replace('#',''));
});

select( (location.hash || '').replace('#','') || 'main_ts' );

  </script>
  <script charset="utf-8" src="../../lib/demos.js"></script>
</body>

</html>