
<!DOCTYPE html>
<html>

<head>
  <title>Demo</title>
  <link rel="stylesheet" href="../../lib/style.css">
  <link rel="stylesheet" href="../../lib/codestyle.css">
  
</head>

<body data-demoid="ngmodel">
  <div class="wrapper">
    <div>
      <a href="../../index.html">&larr; back to demo index</a>
      <div><p>Demonstrating <code>ng-model</code>. It sets up a <strong>two-way data binding</strong> between a form input and a scope variable</p>

<p><code>
&lt;input ng-model=&quot;fieldVal&quot;/&gt;
</code></p>

<p>Now the input and the <code>fieldVal</code> variable will <strong>always</strong> have the same value.</p></div>
      <app><div ng-app="ngmodel" ng-cloak>
  <div ng-controller="ngmodelcontroller">
    <input ng-model="magic"><br/>
    <input ng-model="magic"><br/>
    Current value: {{magic}}<br/>
    <button ng-click="costume()">Become Batman!</button>
  </div>
</div></app>
    </div>
    <div class="sources">
      <div class="sourcenav"><div data-file='index_html'>index.html</div><div data-file='main_ts'>main.ts</div></div>
      <div class="sourcefiles"><pre id='index_html-source'><code><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">ng-app</span>=<span class="hljs-string">"ngmodel"</span> <span class="hljs-attr">ng-cloak</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">ng-controller</span>=<span class="hljs-string">"ngmodelcontroller"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">ng-model</span>=<span class="hljs-string">"magic"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">br</span>/&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">ng-model</span>=<span class="hljs-string">"magic"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">br</span>/&gt;</span>
    Current value: {{magic}}<span class="hljs-tag">&lt;<span class="hljs-name">br</span>/&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">ng-click</span>=<span class="hljs-string">"costume()"</span>&gt;</span>Become Batman!<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><pre id='main_ts-source'><code><span class="hljs-keyword">import</span> * <span class="hljs-keyword">as</span> angular <span class="hljs-keyword">from</span> <span class="hljs-string">'angular'</span>;

<span class="hljs-keyword">let</span> app = angular.module(<span class="hljs-string">'ngmodel'</span>, []);

app.controller(<span class="hljs-string">'ngmodelcontroller'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">$scope</span>)</span>{
  $scope.magic = <span class="hljs-string">'initial value'</span>;
  $scope.costume = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{
    $scope.magic = <span class="hljs-string">'Batman'</span>;
  };
});
</code></pre></div>
    </div>
  </div>
  <script>

function select(id){
  let button = document.querySelector(`[data-file=${id}]`);
  if (button){
    document.querySelectorAll('.sources .active').forEach(function(elem){
      elem.classList.remove('active')
    });
    button.classList.add('active');
    document.getElementById(id + '-source').classList.add('active');
  } else {
    console.log("Warning, couldn't find source file", id);
  }
}

document.querySelectorAll('.sourcenav > *').forEach(
  elem => elem.addEventListener('click', function(e){
    location.hash = '#' + this.getAttribute("data-file");
    e.preventDefault();
  })
);

window.addEventListener("hashchange", function(){
  select(location.hash.replace('#',''));
});

select( (location.hash || '').replace('#','') || 'main_ts' );

  </script>
  <script charset="utf-8" src="../../lib/demos.js"></script>
</body>

</html>